In [1]:
# !pip install geopandas 
# !pip install matplotlib
# %pip install pygeos
# %pip install rtree

In [46]:
# All the import 
import numpy as np
import pandas as pd

In [47]:
# read files
data = pd.read_csv("../data/owid-covid-data.csv")

In [48]:
# print(data.columns)
data.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
249924,ZWE,Africa,Zimbabwe,2023-01-09,259981.0,0.0,0.0,5637.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
249925,ZWE,Africa,Zimbabwe,2023-01-10,259981.0,0.0,0.0,5637.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
249926,ZWE,Africa,Zimbabwe,2023-01-11,259981.0,0.0,0.0,5637.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
249927,ZWE,Africa,Zimbabwe,2023-01-12,259981.0,0.0,0.0,5637.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
249928,ZWE,Africa,Zimbabwe,2023-01-13,259981.0,0.0,0.0,5637.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [49]:
# 12513 rows × 26 columns
# Basic information about all the columns of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249929 entries, 0 to 249928
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    249929 non-null  object
 1   continent                                   235891 non-null  object
 2   location                                    249929 non-null  object
 3   date                                        249929 non-null  object
 4   total_cases                                 235632 non-null  float64
 5   new_cases                                   235370 non-null  float64
 6   new_cases_smoothed                          234166 non-null  float64
 7   total_deaths                                216107 non-null  float64
 8   new_deaths                                  216038 non-null  float64
 9   new_deaths_smoothed                         214852 non-null  float64
 10  total_cases_per_million                     234560 non-null  float64
 11  new_cases_per_million                       234298 non-null  float64
 12  new_cases_smoothed_per_million              233099 non-null  float64
 13  total_deaths_per_million                    215048 non-null  float64
 14  new_deaths_per_million                      214979 non-null  float64
 15  new_deaths_smoothed_per_million             213798 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                33596 non-null   float64
 18  icu_patients_per_million                    33596 non-null   float64
 19  hosp_patients                               36581 non-null   float64
 20  hosp_patients_per_million                   36581 non-null   float64
 21  weekly_icu_admissions                       8440 non-null    float64
 22  weekly_icu_admissions_per_million           8440 non-null    float64
 23  weekly_hosp_admissions                      20040 non-null   float64
 24  weekly_hosp_admissions_per_million          20040 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          70593 non-null   float64
 35  people_vaccinated                           67483 non-null   float64
 36  people_fully_vaccinated                     64825 non-null   float64
 37  total_boosters                              39514 non-null   float64
 38  new_vaccinations                            58545 non-null   float64
 39  new_vaccinations_smoothed                   149034 non-null  float64
 40  total_vaccinations_per_hundred              70593 non-null   float64
 41  people_vaccinated_per_hundred               67483 non-null   float64
 42  people_fully_vaccinated_per_hundred         64825 non-null   float64
 43  total_boosters_per_hundred                  39514 non-null   float64
 44  new_vaccinations_smoothed_per_million       149034 non-null  float64
 45  new_people_vaccinated_smoothed              148744 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  148744 non-null  float64
 47  stringency_index                            183748 non-null  float64
 48  population_density                          217732 non-null  float64
 49  median_age                                  201396 non-null  float64
 50  aged_65_older                               199273 non-null  float64
 51  aged_70_older                               200343 non-null  float64
 52  gdp_per_capita                              200995 non-null  float64
 53  extreme_poverty                             130893 non-null  float64
 54  cardiovasc_death_rate                       200812 non-null  float64
 55  diabetes_prevalence                         211321 non-null  float64
 56  female_smokers                              152235 non-null  float64
 57  male_smokers                                150152 non-null  float64
 58  handwashing_facilities                      99030 non-null   float64
 59  hospital_beds_per_thousand                  178995 non-null  float64
 60  life_expectancy                             229274 non-null  float64
 61  human_development_index                     196216 non-null  float64
 62  population                                  248857 non-null  float64
 63  excess_mortality_cumulative_absolute        8240 non-null    float64
 64  excess_mortality_cumulative                 8240 non-null    float64
 65  excess_mortality                            8279 non-null    float64
 66  excess_mortality_cumulative_per_million     8240 non-null    float64
dtypes: float64(62), object(5)
memory usage: 127.8+ MB

In [50]:
df = data[data['continent'] == 'Asia'] 
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['population_million'] = df["population"]/1000000

C:\Users\dell\AppData\Local\Temp\ipykernel_10844\1196196657.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['date']).year
C:\Users\dell\AppData\Local\Temp\ipykernel_10844\1196196657.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = pd.DatetimeIndex(df['date']).month
C:\Users\dell\AppData\Local\Temp\ipykernel_10844\1196196657.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['population_million'] = df["population"]/1000000

In [51]:
cases_df = df[["iso_code", "location","population","population_million","population_density","year", "month","new_cases", "new_cases_per_million", "new_cases_smoothed_per_million" ]]
cases_df

,iso_code,location,population,population_million,population_density,year,month,new_cases,new_cases_per_million,new_cases_smoothed_per_million
0,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,5.0,0.122,NaN
1,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,0.0,0.000,NaN
2,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,0.0,0.000,NaN
3,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,0.0,0.000,NaN
4,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,0.0,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...
247862,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.000,0.0
247863,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.000,0.0
247864,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.000,0.0
247865,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.000,0.0
247866,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.000,0.0

In [62]:
deaths_df = df[["iso_code", "location","population","population_million","population_density","year", "month","new_deaths", "new_deaths_per_million", "new_deaths_smoothed_per_million" ]]
deaths_df

,iso_code,location,population,population_million,population_density,year,month,new_deaths,new_deaths_per_million,new_deaths_smoothed_per_million
0,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,NaN,NaN,NaN
1,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,NaN,NaN,NaN
2,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,NaN,NaN,NaN
3,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,NaN,NaN,NaN
4,AFG,Afghanistan,41128772.0,41.128772,54.422,2020,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
247862,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.0,0.0
247863,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.0,0.0
247864,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.0,0.0
247865,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.0,0.0
247866,YEM,Yemen,33696612.0,33.696612,53.508,2023,1,0.0,0.0,0.0

In [52]:
unique_lpd_val = cases_df[["location", "population", "population_million","population_density"]]
unique_lpd_val.shape

(53116, 4)

In [53]:
unique_lpd =  unique_lpd_val.drop_duplicates().reset_index()
#unique_lpd[unique_lpd["population_density"].isna()]

In [72]:
dff = df.groupby(by=["location"])['new_cases','new_cases_per_million', 'new_deaths', 'new_deaths_per_million' ].sum().reset_index()
dff

C:\Users\dell\AppData\Local\Temp\ipykernel_10844\3941514898.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dff = df.groupby(by=["location"])['new_cases','new_cases_per_million', 'new_deaths', 'new_deaths_per_million' ].sum().reset_index()

,location,new_cases,new_cases_per_million,new_deaths,new_deaths_per_million
0,Afghanistan,207908.0,5055.062,7854.0,190.952
1,Armenia,445976.0,160395.793,8718.0,3135.474
2,Azerbaijan,827253.0,79865.498,10042.0,969.547
3,Bahrain,699473.0,475108.980,1539.0,1045.271
4,Bangladesh,2037331.0,11901.234,29441.0,172.022
5,Bhutan,62551.0,79941.737,21.0,26.838
6,Brunei,272664.0,607266.756,225.0,501.094
7,Cambodia,138659.0,8269.360,3056.0,182.271
8,China,2023378.0,1419.034,4365.0,3.107
9,Georgia,1811015.0,483661.532,16909.0,4515.827
10,Hong Kong,2817731.0,376256.249,12693.0,1694.983
11,India,44684098.0,31530.433,523353.0,369.289
12,Indonesia,6725458.0,24411.705,160719.0,583.365
13,Iran,7562446.0,85402.587,144723.0,1634.352
14,Iraq,2465545.0,55410.342,25375.0,570.227
15,Israel,4776485.0,505501.637,12124.0,1283.094
16,Japan,31198421.0,251698.195,61779.0,498.378
17,Jordan,1747107.0,154804.745,14122.0,1251.291
18,Kazakhstan,1548705.0,79838.390,19344.0,997.247
19,Kuwait,662747.0,155250.571,2570.0,602.066
20,Kyrgyzstan,206586.0,31156.358,3434.0,517.919
21,Laos,217929.0,28943.441,759.0,100.814
22,Lebanon,1225047.0,223151.937,10759.0,1959.788
23,Macao,3680.0,5293.573,182.0,261.798
24,Malaysia,5032254.0,148276.911,36930.0,1088.103
25,Maldives,185702.0,354529.786,311.0,593.715
26,Mongolia,1009238.0,296976.807,2136.0,628.560
27,Myanmar,633741.0,11697.087,19491.0,359.701
28,Nepal,1001047.0,32770.075,12020.0,393.480
29,North Korea,1.0,0.038,6.0,0.230
30,Northern Cyprus,0.0,0.000,0.0,0.000
31,Oman,399154.0,87221.981,4260.0,930.949
32,Pakistan,1576037.0,6683.085,30639.0,129.889
33,Palestine,703228.0,133946.232,5708.0,1087.175
34,Philippines,4070379.0,35223.368,65561.0,567.343
35,Qatar,491177.0,182246.058,685.0,254.135
36,Saudi Arabia,827358.0,22724.109,9540.0,261.914
37,Singapore,2211131.0,392251.645,1717.0,304.552
38,South Korea,29774320.0,574618.453,32912.0,635.150
39,Sri Lanka,671959.0,30778.404,16822.0,770.531
40,Syria,57435.0,2595.910,3164.0,143.039
41,Taiwan,9167813.0,383696.546,15755.0,659.397
42,Tajikistan,17786.0,1787.018,125.0,12.528
43,Thailand,4762122.0,66420.106,34743.0,484.565
44,Timor,23410.0,17453.283,138.0,102.911
45,Turkey,16219497.0,190054.605,101492.0,1189.259
46,Turkmenistan,0.0,0.000,0.0,0.000
47,United Arab Emirates,1047936.0,110996.805,2348.0,248.808
48,Uzbekistan,250137.0,7223.617,1637.0,47.350
49,Vietnam,10967149.0,111696.715,43190.0,439.846
50,Yemen,11946.0,354.511,2159.0,64.082

In [73]:
#merge_pop_cases_deaths_sum = dff.merge(uniqe_lpd_val,  left_on='location', right_on='location').drop_duplicates()
merge_pop_cases_deaths_sum = pd.merge(dff, unique_lpd, on='location', how='inner').drop("index", axis =1)
merge_pop_cases_deaths_sum

,location,new_cases,new_cases_per_million,new_deaths,new_deaths_per_million,population,population_million,population_density
0,Afghanistan,207908.0,5055.062,7854.0,190.952,4.112877e+07,41.128772,54.422
1,Armenia,445976.0,160395.793,8718.0,3135.474,2.780472e+06,2.780472,102.931
2,Azerbaijan,827253.0,79865.498,10042.0,969.547,1.035808e+07,10.358078,119.309
3,Bahrain,699473.0,475108.980,1539.0,1045.271,1.472237e+06,1.472237,1935.907
4,Bangladesh,2037331.0,11901.234,29441.0,172.022,1.711864e+08,171.186368,1265.036
5,Bhutan,62551.0,79941.737,21.0,26.838,7.824570e+05,0.782457,21.188
6,Brunei,272664.0,607266.756,225.0,501.094,4.490020e+05,0.449002,81.347
7,Cambodia,138659.0,8269.360,3056.0,182.271,1.676785e+07,16.767851,90.672
8,China,2023378.0,1419.034,4365.0,3.107,1.425887e+09,1425.887360,147.674
9,Georgia,1811015.0,483661.532,16909.0,4515.827,3.744385e+06,3.744385,65.032
10,Hong Kong,2817731.0,376256.249,12693.0,1694.983,7.488863e+06,7.488863,7039.714
11,India,44684098.0,31530.433,523353.0,369.289,1.417173e+09,1417.173120,450.419
12,Indonesia,6725458.0,24411.705,160719.0,583.365,2.755013e+08,275.501344,145.725
13,Iran,7562446.0,85402.587,144723.0,1634.352,8.855057e+07,88.550568,49.831
14,Iraq,2465545.0,55410.342,25375.0,570.227,4.449612e+07,44.496124,88.125
15,Israel,4776485.0,505501.637,12124.0,1283.094,9.449000e+06,9.449000,402.606
16,Japan,31198421.0,251698.195,61779.0,498.378,1.239517e+08,123.951696,347.778
17,Jordan,1747107.0,154804.745,14122.0,1251.291,1.128588e+07,11.285875,109.285
18,Kazakhstan,1548705.0,79838.390,19344.0,997.247,1.939800e+07,19.397998,6.681
19,Kuwait,662747.0,155250.571,2570.0,602.066,4.268886e+06,4.268886,232.128
20,Kyrgyzstan,206586.0,31156.358,3434.0,517.919,6.630621e+06,6.630621,32.333
21,Laos,217929.0,28943.441,759.0,100.814,7.529477e+06,7.529477,29.715
22,Lebanon,1225047.0,223151.937,10759.0,1959.788,5.489744e+06,5.489744,594.561
23,Macao,3680.0,5293.573,182.0,261.798,6.951800e+05,0.695180,20546.766
24,Malaysia,5032254.0,148276.911,36930.0,1088.103,3.393822e+07,33.938216,96.254
25,Maldives,185702.0,354529.786,311.0,593.715,5.237980e+05,0.523798,1454.433
26,Mongolia,1009238.0,296976.807,2136.0,628.560,3.398373e+06,3.398373,1.980
27,Myanmar,633741.0,11697.087,19491.0,359.701,5.417931e+07,54.179312,81.721
28,Nepal,1001047.0,32770.075,12020.0,393.480,3.054759e+07,30.547586,204.430
29,North Korea,1.0,0.038,6.0,0.230,2.606942e+07,26.069416,211.701
30,Northern Cyprus,0.0,0.000,0.0,0.000,3.828360e+05,0.382836,NaN
31,Oman,399154.0,87221.981,4260.0,930.949,4.576300e+06,4.576300,14.980
32,Pakistan,1576037.0,6683.085,30639.0,129.889,2.358249e+08,235.824864,255.573
33,Palestine,703228.0,133946.232,5708.0,1087.175,5.250076e+06,5.250076,778.202
34,Philippines,4070379.0,35223.368,65561.0,567.343,1.155590e+08,115.559008,351.873
35,Qatar,491177.0,182246.058,685.0,254.135,2.695131e+06,2.695131,227.322
36,Saudi Arabia,827358.0,22724.109,9540.0,261.914,3.640882e+07,36.408824,15.322
37,Singapore,2211131.0,392251.645,1717.0,304.552,5.637022e+06,5.637022,7915.731
38,South Korea,29774320.0,574618.453,32912.0,635.150,5.181581e+07,51.815808,527.967
39,Sri Lanka,671959.0,30778.404,16822.0,770.531,2.183215e+07,21.832150,341.955
40,Syria,57435.0,2595.910,3164.0,143.039,2.212524e+07,22.125242,NaN
41,Taiwan,9167813.0,383696.546,15755.0,659.397,2.389340e+07,23.893396,NaN
42,Tajikistan,17786.0,1787.018,125.0,12.528,9.952789e+06,9.952789,64.281
43,Thailand,4762122.0,66420.106,34743.0,484.565,7.169702e+07,71.697024,135.132
44,Timor,23410.0,17453.283,138.0,102.911,1.341298e+06,1.341298,87.176
45,Turkey,16219497.0,190054.605,101492.0,1189.259,8.534125e+07,85.341248,104.914
46,Turkmenistan,0.0,0.000,0.0,0.000,6.430777e+06,6.430777,12.253
47,United Arab Emirates,1047936.0,110996.805,2348.0,248.808,9.441138e+06,9.441138,112.442
48,Uzbekistan,250137.0,7223.617,1637.0,47.350,3.462765e+07,34.627648,76.134
49,Vietnam,10967149.0,111696.715,43190.0,439.846,9.818686e+07,98.186856,308.127
50,Yemen,11946.0,354.511,2159.0,64.082,3.369661e+07,33.696612,53.508

In [56]:
#to do a fair comparision for number of deaths per population I am thinking of doing per million analysis

In [70]:
#merge_pop_cases_deaths_sum["new_cases_million"] = (merge_pop_cases_deaths_sum["new_cases"] /merge_pop_cases_deaths_sum["population"]) * 1000000

In [74]:
merge_pop_cases_deaths_sum

,location,new_cases,new_cases_per_million,new_deaths,new_deaths_per_million,population,population_million,population_density
0,Afghanistan,207908.0,5055.062,7854.0,190.952,4.112877e+07,41.128772,54.422
1,Armenia,445976.0,160395.793,8718.0,3135.474,2.780472e+06,2.780472,102.931
2,Azerbaijan,827253.0,79865.498,10042.0,969.547,1.035808e+07,10.358078,119.309
3,Bahrain,699473.0,475108.980,1539.0,1045.271,1.472237e+06,1.472237,1935.907
4,Bangladesh,2037331.0,11901.234,29441.0,172.022,1.711864e+08,171.186368,1265.036
5,Bhutan,62551.0,79941.737,21.0,26.838,7.824570e+05,0.782457,21.188
6,Brunei,272664.0,607266.756,225.0,501.094,4.490020e+05,0.449002,81.347
7,Cambodia,138659.0,8269.360,3056.0,182.271,1.676785e+07,16.767851,90.672
8,China,2023378.0,1419.034,4365.0,3.107,1.425887e+09,1425.887360,147.674
9,Georgia,1811015.0,483661.532,16909.0,4515.827,3.744385e+06,3.744385,65.032
10,Hong Kong,2817731.0,376256.249,12693.0,1694.983,7.488863e+06,7.488863,7039.714
11,India,44684098.0,31530.433,523353.0,369.289,1.417173e+09,1417.173120,450.419
12,Indonesia,6725458.0,24411.705,160719.0,583.365,2.755013e+08,275.501344,145.725
13,Iran,7562446.0,85402.587,144723.0,1634.352,8.855057e+07,88.550568,49.831
14,Iraq,2465545.0,55410.342,25375.0,570.227,4.449612e+07,44.496124,88.125
15,Israel,4776485.0,505501.637,12124.0,1283.094,9.449000e+06,9.449000,402.606
16,Japan,31198421.0,251698.195,61779.0,498.378,1.239517e+08,123.951696,347.778
17,Jordan,1747107.0,154804.745,14122.0,1251.291,1.128588e+07,11.285875,109.285
18,Kazakhstan,1548705.0,79838.390,19344.0,997.247,1.939800e+07,19.397998,6.681
19,Kuwait,662747.0,155250.571,2570.0,602.066,4.268886e+06,4.268886,232.128
20,Kyrgyzstan,206586.0,31156.358,3434.0,517.919,6.630621e+06,6.630621,32.333
21,Laos,217929.0,28943.441,759.0,100.814,7.529477e+06,7.529477,29.715
22,Lebanon,1225047.0,223151.937,10759.0,1959.788,5.489744e+06,5.489744,594.561
23,Macao,3680.0,5293.573,182.0,261.798,6.951800e+05,0.695180,20546.766
24,Malaysia,5032254.0,148276.911,36930.0,1088.103,3.393822e+07,33.938216,96.254
25,Maldives,185702.0,354529.786,311.0,593.715,5.237980e+05,0.523798,1454.433
26,Mongolia,1009238.0,296976.807,2136.0,628.560,3.398373e+06,3.398373,1.980
27,Myanmar,633741.0,11697.087,19491.0,359.701,5.417931e+07,54.179312,81.721
28,Nepal,1001047.0,32770.075,12020.0,393.480,3.054759e+07,30.547586,204.430
29,North Korea,1.0,0.038,6.0,0.230,2.606942e+07,26.069416,211.701
30,Northern Cyprus,0.0,0.000,0.0,0.000,3.828360e+05,0.382836,NaN
31,Oman,399154.0,87221.981,4260.0,930.949,4.576300e+06,4.576300,14.980
32,Pakistan,1576037.0,6683.085,30639.0,129.889,2.358249e+08,235.824864,255.573
33,Palestine,703228.0,133946.232,5708.0,1087.175,5.250076e+06,5.250076,778.202
34,Philippines,4070379.0,35223.368,65561.0,567.343,1.155590e+08,115.559008,351.873
35,Qatar,491177.0,182246.058,685.0,254.135,2.695131e+06,2.695131,227.322
36,Saudi Arabia,827358.0,22724.109,9540.0,261.914,3.640882e+07,36.408824,15.322
37,Singapore,2211131.0,392251.645,1717.0,304.552,5.637022e+06,5.637022,7915.731
38,South Korea,29774320.0,574618.453,32912.0,635.150,5.181581e+07,51.815808,527.967
39,Sri Lanka,671959.0,30778.404,16822.0,770.531,2.183215e+07,21.832150,341.955
40,Syria,57435.0,2595.910,3164.0,143.039,2.212524e+07,22.125242,NaN
41,Taiwan,9167813.0,383696.546,15755.0,659.397,2.389340e+07,23.893396,NaN
42,Tajikistan,17786.0,1787.018,125.0,12.528,9.952789e+06,9.952789,64.281
43,Thailand,4762122.0,66420.106,34743.0,484.565,7.169702e+07,71.697024,135.132
44,Timor,23410.0,17453.283,138.0,102.911,1.341298e+06,1.341298,87.176
45,Turkey,16219497.0,190054.605,101492.0,1189.259,8.534125e+07,85.341248,104.914
46,Turkmenistan,0.0,0.000,0.0,0.000,6.430777e+06,6.430777,12.253
47,United Arab Emirates,1047936.0,110996.805,2348.0,248.808,9.441138e+06,9.441138,112.442
48,Uzbekistan,250137.0,7223.617,1637.0,47.350,3.462765e+07,34.627648,76.134
49,Vietnam,10967149.0,111696.715,43190.0,439.846,9.818686e+07,98.186856,308.127
50,Yemen,11946.0,354.511,2159.0,64.082,3.369661e+07,33.696612,53.508

In [125]:
sankey_data = merge_pop_cases_deaths_sum[["location", "new_cases_per_million", "new_deaths_per_million"]].sort_values(by="new_cases_per_million", ascending=False).reset_index().drop("index", axis=1)

In [127]:
sankey_data = sankey_data.loc[(sankey_data["new_cases_per_million"] > 0) & (sankey_data["new_deaths_per_million"] > 0)]

In [128]:
sankey_data

                location  new_cases_per_million  new_deaths_per_million
0                 Brunei             607266.756                 501.094
1            South Korea             574618.453                 635.150
2                 Israel             505501.637                1283.094
3                Georgia             483661.532                4515.827
4                Bahrain             475108.980                1045.271
5              Singapore             392251.645                 304.552
6                 Taiwan             383696.546                 659.397
7              Hong Kong             376256.249                1694.983
8               Maldives             354529.786                 593.715
9               Mongolia             296976.807                 628.560
10                 Japan             251698.195                 498.378
11               Lebanon             223151.937                1959.788
12                Turkey             190054.605                1189.259
13                 Qatar             182246.058                 254.135
14               Armenia             160395.793                3135.474
15                Kuwait             155250.571                 602.066
16                Jordan             154804.745                1251.291
17              Malaysia             148276.911                1088.103
18             Palestine             133946.232                1087.175
19               Vietnam             111696.715                 439.846
20  United Arab Emirates             110996.805                 248.808
21                  Oman              87221.981                 930.949
22                  Iran              85402.587                1634.352
23                Bhutan              79941.737                  26.838
24            Azerbaijan              79865.498                 969.547
25            Kazakhstan              79838.390                 997.247
26              Thailand              66420.106                 484.565
27                  Iraq              55410.342                 570.227
28           Philippines              35223.368                 567.343
29                 Nepal              32770.075                 393.480
30                 India              31530.433                 369.289
31            Kyrgyzstan              31156.358                 517.919
32             Sri Lanka              30778.404                 770.531
33                  Laos              28943.441                 100.814
34             Indonesia              24411.705                 583.365
35          Saudi Arabia              22724.109                 261.914
36                 Timor              17453.283                 102.911
37            Bangladesh              11901.234                 172.022
38               Myanmar              11697.087                 359.701
39              Cambodia               8269.360                 182.271
40            Uzbekistan               7223.617                  47.350
41              Pakistan               6683.085                 129.889
42                 Macao               5293.573                 261.798
43           Afghanistan               5055.062                 190.952
44                 Syria               2595.910                 143.039
45            Tajikistan               1787.018                  12.528
46                 China               1419.034                   3.107
47                 Yemen                354.511                  64.082
48           North Korea                  0.038                   0.230

In [30]:
# data_for_top_six.to_csv (r'E:\Documents\GitHub\Data-Visualization\data\scatter_plot_data.csv', index = False, header=True)

In [129]:
def make_json(data):
#     print(data)

    def get_nodeval(val, dList):
        for index in range(len(dList)):
            for value in dList[index].values():
                if val == value:
                    return(dList[index]['node'])
        return
    
    def adduniquenode(graph, name):
        if not any(d['name'] == name for d in graph['nodes']):
            graph['nodes'].append({ 'node': len(graph['nodes']), 'name': name })
            
    def adduniquelink(data, graph, node, valueof ):
        if valueof == "new_cases_per_million":
            for index, row in data.iterrows():
                graph['links'].append({"source" : get_nodeval(valueof, graph['nodes']),
                              "target" : get_nodeval(row['location'], graph['nodes']),
                              "value" : row[valueof]                       
                             })
        else:
            for index, row in data.iterrows():
                graph['links'].append({"source" : get_nodeval(row['location'], graph['nodes'] ),
                              "target" : get_nodeval(valueof, graph['nodes']),
                              "value" : row[valueof]                       
                             })
            
#         print(graph['nodes'])   

    
    graph = {"nodes" : [], "links" : []}
#     print(graph['nodes'].push())
    keys = data.columns[1:]
    print(data.columns)
    adduniquenode(graph, keys[0])
    adduniquenode(graph, keys[1])
    for i in range(data.shape[0]):
#         graph['nodes'].push()
        adduniquenode(graph, data.loc[i].location)
#     print(graph['nodes'])

    adduniquelink(data, graph, 0, 'new_cases_per_million')
    adduniquelink(data, graph, 1, 'new_deaths_per_million')
#     print(graph['links'])
    
    return graph

In [91]:
# To display complete values of the coulmns 
# with pd.option_context('display.max_colwidth', None, 'display.max_rows', None): display(polydata)

In [132]:
json_string = make_json(sankey_data)

Index(['location', 'new_cases_per_million', 'new_deaths_per_million'], dtype='object')

In [133]:
json_string

{'nodes': [{'node': 0, 'name': 'new_cases_per_million'},
  {'node': 1, 'name': 'new_deaths_per_million'},
  {'node': 2, 'name': 'Brunei'},
  {'node': 3, 'name': 'South Korea'},
  {'node': 4, 'name': 'Israel'},
  {'node': 5, 'name': 'Georgia'},
  {'node': 6, 'name': 'Bahrain'},
  {'node': 7, 'name': 'Singapore'},
  {'node': 8, 'name': 'Taiwan'},
  {'node': 9, 'name': 'Hong Kong'},
  {'node': 10, 'name': 'Maldives'},
  {'node': 11, 'name': 'Mongolia'},
  {'node': 12, 'name': 'Japan'},
  {'node': 13, 'name': 'Lebanon'},
  {'node': 14, 'name': 'Turkey'},
  {'node': 15, 'name': 'Qatar'},
  {'node': 16, 'name': 'Armenia'},
  {'node': 17, 'name': 'Kuwait'},
  {'node': 18, 'name': 'Jordan'},
  {'node': 19, 'name': 'Malaysia'},
  {'node': 20, 'name': 'Palestine'},
  {'node': 21, 'name': 'Vietnam'},
  {'node': 22, 'name': 'United Arab Emirates'},
  {'node': 23, 'name': 'Oman'},
  {'node': 24, 'name': 'Iran'},
  {'node': 25, 'name': 'Bhutan'},
  {'node': 26, 'name': 'Azerbaijan'},
  {'node': 27, 'name': 'Kazakhstan'},
  {'node': 28, 'name': 'Thailand'},
  {'node': 29, 'name': 'Iraq'},
  {'node': 30, 'name': 'Philippines'},
  {'node': 31, 'name': 'Nepal'},
  {'node': 32, 'name': 'India'},
  {'node': 33, 'name': 'Kyrgyzstan'},
  {'node': 34, 'name': 'Sri Lanka'},
  {'node': 35, 'name': 'Laos'},
  {'node': 36, 'name': 'Indonesia'},
  {'node': 37, 'name': 'Saudi Arabia'},
  {'node': 38, 'name': 'Timor'},
  {'node': 39, 'name': 'Bangladesh'},
  {'node': 40, 'name': 'Myanmar'},
  {'node': 41, 'name': 'Cambodia'},
  {'node': 42, 'name': 'Uzbekistan'},
  {'node': 43, 'name': 'Pakistan'},
  {'node': 44, 'name': 'Macao'},
  {'node': 45, 'name': 'Afghanistan'},
  {'node': 46, 'name': 'Syria'},
  {'node': 47, 'name': 'Tajikistan'},
  {'node': 48, 'name': 'China'},
  {'node': 49, 'name': 'Yemen'},
  {'node': 50, 'name': 'North Korea'}],
 'links': [{'source': 0, 'target': 2, 'value': 607266.756},
  {'source': 0, 'target': 3, 'value': 574618.453},
  {'source': 0, 'target': 4, 'value': 505501.637},
  {'source': 0, 'target': 5, 'value': 483661.532},
  {'source': 0, 'target': 6, 'value': 475108.98},
  {'source': 0, 'target': 7, 'value': 392251.645},
  {'source': 0, 'target': 8, 'value': 383696.546},
  {'source': 0, 'target': 9, 'value': 376256.249},
  {'source': 0, 'target': 10, 'value': 354529.786},
  {'source': 0, 'target': 11, 'value': 296976.807},
  {'source': 0, 'target': 12, 'value': 251698.195},
  {'source': 0, 'target': 13, 'value': 223151.937},
  {'source': 0, 'target': 14, 'value': 190054.605},
  {'source': 0, 'target': 15, 'value': 182246.058},
  {'source': 0, 'target': 16, 'value': 160395.793},
  {'source': 0, 'target': 17, 'value': 155250.571},
  {'source': 0, 'target': 18, 'value': 154804.745},
  {'source': 0, 'target': 19, 'value': 148276.911},
  {'source': 0, 'target': 20, 'value': 133946.232},
  {'source': 0, 'target': 21, 'value': 111696.715},
  {'source': 0, 'target': 22, 'value': 110996.805},
  {'source': 0, 'target': 23, 'value': 87221.981},
  {'source': 0, 'target': 24, 'value': 85402.587},
  {'source': 0, 'target': 25, 'value': 79941.737},
  {'source': 0, 'target': 26, 'value': 79865.498},
  {'source': 0, 'target': 27, 'value': 79838.39},
  {'source': 0, 'target': 28, 'value': 66420.106},
  {'source': 0, 'target': 29, 'value': 55410.342},
  {'source': 0, 'target': 30, 'value': 35223.368},
  {'source': 0, 'target': 31, 'value': 32770.075},
  {'source': 0, 'target': 32, 'value': 31530.433},
  {'source': 0, 'target': 33, 'value': 31156.358},
  {'source': 0, 'target': 34, 'value': 30778.404},
  {'source': 0, 'target': 35, 'value': 28943.441},
  {'source': 0, 'target': 36, 'value': 24411.705},
  {'source': 0, 'target': 37, 'value': 22724.109},
  {'source': 0, 'target': 38, 'value': 17453.283},
  {'source': 0, 'target': 39, 'value': 11901.234},
  {'source': 0, 'target': 40, 'value': 11697.087},
  {'source': 0, 'target': 41, 'value': 8269.36},
  {'source': 0, 'target': 42, 'value': 7223.617},
  {'source': 0, 'target': 43, 'value': 6683.085},
  {'source': 0, 'target': 44, 'value': 5293.573},
  {'source': 0, 'target': 45, 'value': 5055.062},
  {'source': 0, 'target': 46, 'value': 2595.91},
  {'source': 0, 'target': 47, 'value': 1787.018},
  {'source': 0, 'target': 48, 'value': 1419.0339999999999},
  {'source': 0, 'target': 49, 'value': 354.511},
  {'source': 0, 'target': 50, 'value': 0.038},
  {'source': 2, 'target': 1, 'value': 501.094},
  {'source': 3, 'target': 1, 'value': 635.15},
  {'source': 4, 'target': 1, 'value': 1283.094},
  {'source': 5, 'target': 1, 'value': 4515.827},
  {'source': 6, 'target': 1, 'value': 1045.271},
  {'source': 7, 'target': 1, 'value': 304.552},
  {'source': 8, 'target': 1, 'value': 659.397},
  {'source': 9, 'target': 1, 'value': 1694.983},
  {'source': 10, 'target': 1, 'value': 593.715},
  {'source': 11, 'target': 1, 'value': 628.5600000000001},
  {'source': 12, 'target': 1, 'value': 498.378},
  {'source': 13, 'target': 1, 'value': 1959.788},
  {'source': 14, 'target': 1, 'value': 1189.259},
  {'source': 15, 'target': 1, 'value': 254.135},
  {'source': 16, 'target': 1, 'value': 3135.474},
  {'source': 17, 'target': 1, 'value': 602.066},
  {'source': 18, 'target': 1, 'value': 1251.291},
  {'source': 19, 'target': 1, 'value': 1088.103},
  {'source': 20, 'target': 1, 'value': 1087.175},
  {'source': 21, 'target': 1, 'value': 439.846},
  {'source': 22, 'target': 1, 'value': 248.808},
  {'source': 23, 'target': 1, 'value': 930.9490000000001},
  {'source': 24, 'target': 1, 'value': 1634.352},
  {'source': 25, 'target': 1, 'value': 26.838},
  {'source': 26, 'target': 1, 'value': 969.547},
  {'source': 27, 'target': 1, 'value': 997.2470000000001},
  {'source': 28, 'target': 1, 'value': 484.565},
  {'source': 29, 'target': 1, 'value': 570.227},
  {'source': 30, 'target': 1, 'value': 567.343},
  {'source': 31, 'target': 1, 'value': 393.48},
  {'source': 32, 'target': 1, 'value': 369.289},
  {'source': 33, 'target': 1, 'value': 517.919},
  {'source': 34, 'target': 1, 'value': 770.531},
  {'source': 35, 'target': 1, 'value': 100.81400000000001},
  {'source': 36, 'target': 1, 'value': 583.365},
  {'source': 37, 'target': 1, 'value': 261.914},
  {'source': 38, 'target': 1, 'value': 102.911},
  {'source': 39, 'target': 1, 'value': 172.022},
  {'source': 40, 'target': 1, 'value': 359.701},
  {'source': 41, 'target': 1, 'value': 182.271},
  {'source': 42, 'target': 1, 'value': 47.35},
  {'source': 43, 'target': 1, 'value': 129.889},
  {'source': 44, 'target': 1, 'value': 261.798},
  {'source': 45, 'target': 1, 'value': 190.952},
  {'source': 46, 'target': 1, 'value': 143.03900000000002},
  {'source': 47, 'target': 1, 'value': 12.528},
  {'source': 48, 'target': 1, 'value': 3.1069999999999998},
  {'source': 49, 'target': 1, 'value': 64.082},
  {'source': 50, 'target': 1, 'value': 0.23}]}

In [42]:
''''dList = [{'node':0, 'a': 3}, {'node':1, 'a': 4}, {'node':2, 'a': 5}]
val = 3
for index in range(len(dList)):
    for value in dList[index].values():
        if val == value:
            print(dList[index]['node'])
#         print(dList[index][key])'''

0

In [101]:
#sankey_data.to_csv("..\data\sankey_data.csv",index=False,header=True)

In [134]:
import json

In [135]:
# Directly from dictionary
with open('../data/sankey_data.json', 'w') as outfile:
    json.dump(json_string, outfile)