In [81]:
# All the import 
import numpy as np
import pandas as pd

In [121]:
# read files
data = pd.read_csv("../data/owid-covid-data.csv")

In [122]:
# print(data.columns)
data.tail()
# Basic information about all the columns of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249929 entries, 0 to 249928
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    249929 non-null  object
 1   continent                                   235891 non-null  object
 2   location                                    249929 non-null  object
 3   date                                        249929 non-null  object
 4   total_cases                                 235632 non-null  float64
 5   new_cases                                   235370 non-null  float64
 6   new_cases_smoothed                          234166 non-null  float64
 7   total_deaths                                216107 non-null  float64
 8   new_deaths                                  216038 non-null  float64
 9   new_deaths_smoothed                         214852 non-null  float64
 10  total_cases_per_million                     234560 non-null  float64
 11  new_cases_per_million                       234298 non-null  float64
 12  new_cases_smoothed_per_million              233099 non-null  float64
 13  total_deaths_per_million                    215048 non-null  float64
 14  new_deaths_per_million                      214979 non-null  float64
 15  new_deaths_smoothed_per_million             213798 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                33596 non-null   float64
 18  icu_patients_per_million                    33596 non-null   float64
 19  hosp_patients                               36581 non-null   float64
 20  hosp_patients_per_million                   36581 non-null   float64
 21  weekly_icu_admissions                       8440 non-null    float64
 22  weekly_icu_admissions_per_million           8440 non-null    float64
 23  weekly_hosp_admissions                      20040 non-null   float64
 24  weekly_hosp_admissions_per_million          20040 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          70593 non-null   float64
 35  people_vaccinated                           67483 non-null   float64
 36  people_fully_vaccinated                     64825 non-null   float64
 37  total_boosters                              39514 non-null   float64
 38  new_vaccinations                            58545 non-null   float64
 39  new_vaccinations_smoothed                   149034 non-null  float64
 40  total_vaccinations_per_hundred              70593 non-null   float64
 41  people_vaccinated_per_hundred               67483 non-null   float64
 42  people_fully_vaccinated_per_hundred         64825 non-null   float64
 43  total_boosters_per_hundred                  39514 non-null   float64
 44  new_vaccinations_smoothed_per_million       149034 non-null  float64
 45  new_people_vaccinated_smoothed              148744 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  148744 non-null  float64
 47  stringency_index                            183748 non-null  float64
 48  population_density                          217732 non-null  float64
 49  median_age                                  201396 non-null  float64
 50  aged_65_older                               199273 non-null  float64
 51  aged_70_older                               200343 non-null  float64
 52  gdp_per_capita                              200995 non-null  float64
 53  extreme_poverty                             130893 non-null  float64
 54  cardiovasc_death_rate                       200812 non-null  float64
 55  diabetes_prevalence                         211321 non-null  float64
 56  female_smokers                              152235 non-null  float64
 57  male_smokers                                150152 non-null  float64
 58  handwashing_facilities                      99030 non-null   float64
 59  hospital_beds_per_thousand                  178995 non-null  float64
 60  life_expectancy                             229274 non-null  float64
 61  human_development_index                     196216 non-null  float64
 62  population                                  248857 non-null  float64
 63  excess_mortality_cumulative_absolute        8240 non-null    float64
 64  excess_mortality_cumulative                 8240 non-null    float64
 65  excess_mortality                            8279 non-null    float64
 66  excess_mortality_cumulative_per_million     8240 non-null    float64
dtypes: float64(62), object(5)
memory usage: 127.8+ MB

In [123]:
df = data[data['continent'] == 'Asia'] 
df['date'] = pd.to_datetime(df['date'] )
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month
df['population_million'] = df["population"]/1000000

C:\Users\dell\AppData\Local\Temp\ipykernel_8964\2933797099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'] )
C:\Users\dell\AppData\Local\Temp\ipykernel_8964\2933797099.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = pd.DatetimeIndex(df['date']).year
C:\Users\dell\AppData\Local\Temp\ipykernel_8964\2933797099.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = pd.DatetimeIndex(df['date']).month
C:\Users\dell\AppData\Local\Temp\ipykernel_8964\2933797099.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['population_million'] = df["population"]/1000000

In [124]:
cases_df = df[["iso_code","date", "year", "month","location","population","population_million","population_density", "month","new_cases", "new_cases_per_million", "new_cases_smoothed_per_million" ]]
cases_df

,iso_code,date,year,month,location,population,population_million,population_density,month,new_cases,new_cases_per_million,new_cases_smoothed_per_million
0,AFG,2020-02-24,2020,2,Afghanistan,41128772.0,41.128772,54.422,2,5.0,0.122,NaN
1,AFG,2020-02-25,2020,2,Afghanistan,41128772.0,41.128772,54.422,2,0.0,0.000,NaN
2,AFG,2020-02-26,2020,2,Afghanistan,41128772.0,41.128772,54.422,2,0.0,0.000,NaN
3,AFG,2020-02-27,2020,2,Afghanistan,41128772.0,41.128772,54.422,2,0.0,0.000,NaN
4,AFG,2020-02-28,2020,2,Afghanistan,41128772.0,41.128772,54.422,2,0.0,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
247862,YEM,2023-01-09,2023,1,Yemen,33696612.0,33.696612,53.508,1,0.0,0.000,0.0
247863,YEM,2023-01-10,2023,1,Yemen,33696612.0,33.696612,53.508,1,0.0,0.000,0.0
247864,YEM,2023-01-11,2023,1,Yemen,33696612.0,33.696612,53.508,1,0.0,0.000,0.0
247865,YEM,2023-01-12,2023,1,Yemen,33696612.0,33.696612,53.508,1,0.0,0.000,0.0
247866,YEM,2023-01-13,2023,1,Yemen,33696612.0,33.696612,53.508,1,0.0,0.000,0.0

In [143]:
cases_cols = cases_df[["date", "location", "new_cases_per_million" ]]
avg_cases_df = cases_cols.pivot(index="date", columns="location", values="new_cases_per_million").reset_index()
avg_cases_df

location,date,Afghanistan,Armenia,Azerbaijan,Bahrain,Bangladesh,Bhutan,Brunei,Cambodia,China,...,Taiwan,Tajikistan,Thailand,Timor,Turkey,Turkmenistan,United Arab Emirates,Uzbekistan,Vietnam,Yemen
0,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2023-01-10,0.608,0.0,6.661,33.283,0.123,0.0,0.000,0.179,0.186,...,1048.365,0.0,406.767,0.000,0.0,NaN,8.474,0.780,0.784,0.0
1103,2023-01-11,0.827,0.0,5.986,37.358,0.129,0.0,5449.864,0.239,NaN,...,1072.723,0.0,NaN,0.746,0.0,NaN,0.000,1.040,0.356,0.0
1104,2023-01-12,0.000,0.0,7.723,44.151,0.023,0.0,NaN,0.537,NaN,...,959.219,0.0,NaN,0.746,0.0,NaN,15.570,1.011,0.896,0.0
1105,2023-01-13,0.000,0.0,8.978,27.170,0.000,0.0,NaN,0.477,NaN,...,908.494,0.0,NaN,0.000,0.0,NaN,10.062,0.000,0.560,0.0
1106,2023-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
avg_cases_per_million = avg_cases_df.groupby(pd.Grouper(key='date', freq='M')).mean()
avg_cases_per_million

location,Afghanistan,Armenia,Azerbaijan,Bahrain,Bangladesh,Bhutan,Brunei,Cambodia,China,Georgia,...,Taiwan,Tajikistan,Thailand,Timor,Turkey,Turkmenistan,United Arab Emirates,Uzbekistan,Vietnam,Yemen
date,,,,,,,,,,,,,,,,,,,,,
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012000,0.719778,NaN,...,0.042000,NaN,0.023333,NaN,NaN,NaN,0.141333,NaN,0.002222,NaN
2020-02-29,0.020333,NaN,NaN,4.641333,NaN,NaN,NaN,0.000000,1.679931,0.066750,...,0.041931,NaN,0.011103,NaN,NaN,NaN,0.062138,NaN,0.004897,NaN
2020-03-31,0.132133,6.172129,0.928129,11.525097,0.012500,0.196615,12.491435,0.207806,0.086258,0.938935,...,0.382194,NaN,0.723871,0.074600,7.550143,NaN,2.197032,0.292176,0.064419,NaN
2020-04-30,1.346200,18.390133,4.846433,55.991900,1.482967,0.127800,0.668100,0.025867,0.062733,3.819000,...,0.149467,NaN,0.605800,0.571633,41.665300,NaN,41.721733,1.797200,0.019700,0.008476
2020-05-31,10.473032,83.717484,11.491806,183.131484,7.440677,1.484129,0.215516,0.005806,0.015483,2.102000,...,0.017581,12.338871,0.057258,0.000000,16.532419,NaN,75.428419,1.475613,0.019000,0.303452
2020-06-30,13.182200,194.931000,38.713767,347.770133,19.146833,1.448400,0.000000,0.031833,0.016267,1.290767,...,0.007000,7.009767,0.041967,0.000000,14.047200,NaN,49.817400,4.697567,0.009100,0.826033
2020-07-31,4.065065,150.914387,44.702548,311.661032,17.369839,0.989419,0.000000,0.188613,0.025419,2.067613,...,0.027000,4.751484,0.065700,0.000000,11.705161,NaN,40.451000,14.444903,0.066645,0.545645
2020-08-31,1.270548,60.688258,14.191710,240.801032,14.195935,5.112032,0.215516,0.067387,0.028774,2.748226,...,0.034724,3.837419,0.046000,0.072194,14.839742,NaN,33.228097,16.660194,0.159613,0.228533
2020-09-30,0.896400,78.859500,12.209500,427.739233,9.830000,2.428200,0.148467,0.006000,0.022200,41.885033,...,0.036400,3.938500,0.070833,0.024867,18.955233,NaN,84.590800,14.269833,0.017000,0.075133
2020-10-31,1.552871,457.731645,46.838968,236.221613,8.330000,2.762129,0.143677,0.026968,0.031194,282.091161,...,0.055452,4.054452,0.097323,0.048129,21.433484,NaN,131.336677,9.515968,0.028194,0.027839
2020-11-30,3.955933,543.205100,212.095433,120.247833,11.147333,2.598600,0.148467,0.069667,0.025733,860.381600,...,0.167467,3.945200,0.101467,0.000000,102.912367,NaN,127.918900,5.931667,0.056667,0.013867
2020-12-31,4.796161,281.746097,303.718065,125.308548,9.153871,10.718871,0.502903,0.100065,0.017968,791.171710,...,0.167452,4.894032,1.298452,0.336710,291.605833,NaN,133.123645,3.694548,0.038774,0.021065
2021-01-31,2.112161,88.369806,35.873484,227.479194,4.075677,7.791774,1.652387,0.169323,0.082516,264.404516,...,0.151290,0.158710,5.353194,0.625387,101.607645,NaN,327.280806,1.538032,0.115548,0.021097
2021-02-28,0.600107,64.634393,14.888357,469.086964,2.311071,0.365143,0.477214,0.754036,0.015464,120.628250,...,0.065857,0.000000,3.571000,1.145036,93.793643,NaN,332.568107,1.253179,0.229607,0.173750
2021-03-31,0.580419,238.773548,84.633968,483.157710,12.263355,0.247355,1.867839,3.116645,0.014742,94.791452,...,0.101355,0.000000,1.310194,11.808484,232.687742,NaN,238.899613,2.741581,0.050968,1.983516
2021-04-30,2.667233,280.827600,184.706100,735.592667,28.786700,8.562667,0.890800,21.791633,0.020367,254.149433,...,0.136733,0.000000,16.871933,41.551700,587.214667,NaN,207.573800,7.642267,0.110433,1.938867
2021-05-31,9.484806,76.640516,46.237774,1393.468613,7.802839,22.509581,1.293129,32.112161,0.020935,289.922290,...,9.967613,0.000000,42.580194,113.467419,162.086677,NaN,172.887806,8.875032,1.479710,0.406839
2021-06-30,37.946733,29.071767,6.729167,572.733967,21.948333,20.448300,1.336233,40.337133,0.028200,196.872533,...,8.779333,0.639700,46.263733,55.369267,68.840500,NaN,219.150800,9.955500,3.265967,0.176067
2021-07-31,22.349097,58.182290,24.297677,73.598806,63.357871,17.108903,5.531935,51.669452,0.038516,460.526097,...,1.174387,5.111161,152.067290,40.307613,113.923323,NaN,163.836935,17.373677,43.698194,0.134935
2021-08-31,4.757613,139.509839,252.388290,73.489161,47.323258,3.339290,170.629323,30.419129,0.056032,1122.342935,...,0.433452,5.736742,273.301387,139.104581,249.958968,NaN,128.169387,25.214806,102.515548,0.773484
2021-09-30,1.583667,234.516433,189.903333,56.988000,10.766667,0.213000,326.947333,38.955400,0.038833,562.629067,...,0.318033,0.777033,185.384300,69.981967,299.089067,NaN,62.217067,16.846900,111.576033,1.185100
2021-10-31,0.843935,540.973290,147.829161,38.826194,2.568065,0.824516,432.069323,11.294677,0.034710,915.219903,...,0.255032,0.006484,138.823452,7.022516,332.221484,NaN,13.369710,11.242194,42.830452,0.693129
2021-11-30,0.842033,361.952900,183.264367,19.494133,1.313367,0.809400,143.132200,3.204600,0.050300,1125.204767,...,0.263733,0.023433,94.772867,0.820233,297.863000,NaN,7.541533,6.974200,107.604367,0.210567
2021-12-31,0.623645,74.389806,89.159032,95.794452,1.744000,0.824516,31.922667,0.690742,0.091484,767.583710,...,0.577774,0.000000,48.394903,0.336742,259.664258,NaN,67.979774,5.305226,162.026548,0.116774
2022-01-31,3.929200,265.271710,129.314645,2027.044806,40.192677,91.976645,72.274968,1.658387,0.110839,2077.795065,...,2.377452,0.690355,97.681226,2.621484,807.888194,NaN,284.004161,22.455484,178.878774,0.854903
2022-02-28,9.320036,668.398893,438.581036,3403.663964,30.197607,356.523500,3743.699500,19.001000,0.117179,4097.077643,...,2.539536,0.287071,224.847393,73.143429,1033.487036,NaN,132.077821,13.817393,424.757893,0.796964
2022-03-31,3.206323,31.173613,19.501677,867.365613,1.507484,634.848806,5091.578710,10.290516,2.335903,368.655258,...,3.922129,0.000000,331.331516,3.528967,291.468935,NaN,38.701581,1.252000,2011.018806,0.033516
2022-04-30,0.917500,4.171967,2.180621,322.343867,0.216867,1323.267633,552.187500,1.244400,13.636733,60.837800,...,129.030000,0.000000,289.459700,0.869867,66.998867,NaN,25.671367,0.815333,368.413167,0.011900
2022-05-31,1.151387,1.113774,0.638484,371.587323,0.153742,19.170323,490.262871,0.021194,1.641806,17.712548,...,2588.243871,0.000000,97.098367,1.202645,15.366774,NaN,32.917000,0.402484,22.856323,0.003839
2022-06-30,1.767667,3.356767,1.316200,909.975767,3.949333,4.302667,1130.358700,0.033767,0.111167,29.154733,...,2419.497000,0.000000,33.687100,1.043867,19.757533,NaN,132.734733,1.671100,9.197100,0.002000
2022-07-31,2.526226,24.618710,17.633161,740.391903,5.929710,26.343806,3016.726226,0.981129,0.392194,222.173516,...,1108.285742,0.000000,31.210742,1.010226,289.601677,NaN,156.364355,2.169581,10.895032,0.050742
2022-08-31,5.883226,104.797710,45.465452,264.026548,1.260484,29.188452,1031.319516,1.598774,1.142484,426.134806,...,971.849032,0.000000,27.282839,4.112516,295.720903,NaN,81.435032,0.659613,25.674828,0.046871
2022-09-30,4.812533,101.625467,25.754367,200.647067,2.580233,38.042567,557.607033,0.510833,0.812400,400.679933,...,1609.051267,0.000000,13.579867,2.162133,78.877433,NaN,42.735000,0.401400,22.975567,0.008900
2022-10-31,3.039194,27.461097,5.661774,210.958323,1.892484,16.944129,711.254806,0.219387,0.939806,0.000000,...,1689.393710,0.000000,4.641387,1.058290,17.328935,NaN,34.625387,0.400645,7.730194,0.003839
2022-11-30,2.304967,5.934267,3.472367,139.130667,0.261767,5.239900,1504.447600,0.214833,13.264533,222.617767,...,837.944167,0.000000,6.878933,1.043833,0.000000,NaN,23.680100,1.802000,4.421167,0.005933
2022-12-31,1.295677,2.772806,6.427935,52.695677,0.101774,0.865742,639.267226,0.933032,7.934710,26.896194,...,720.936194,0.000000,6.552645,1.034194,0.000000,NaN,9.105645,2.512484,3.062968,0.000000
2023-01-31,0.637769,0.000000,6.141538,38.455538,0.092538,2.654308,1179.788182,0.344077,5.117600,48.850917,...,1031.668923,0.000000,43.201200,1.089769,110.942846,NaN,7.560923,2.043769,0.672154,0.000000

In [144]:
deaths_df = df[["iso_code","date","location","population","population_million","population_density", "month","new_deaths", "new_deaths_per_million", "new_deaths_smoothed_per_million" ]]
deaths_df.dtypes

iso_code                                   object
date                               datetime64[ns]
location                                   object
population                                float64
population_million                        float64
population_density                        float64
month                                       int64
new_deaths                                float64
new_deaths_per_million                    float64
new_deaths_smoothed_per_million           float64
dtype: object

In [145]:
deaths_cols = deaths_df[["date", "location", "new_deaths_per_million" ]]
avg_deaths_df = deaths_cols.pivot(index="date", columns="location", values="new_deaths_per_million").reset_index()
avg_deaths_df

location,date,Afghanistan,Armenia,Azerbaijan,Bahrain,Bangladesh,Bhutan,Brunei,Cambodia,China,...,Taiwan,Tajikistan,Thailand,Timor,Turkey,Turkmenistan,United Arab Emirates,Uzbekistan,Vietnam,Yemen
0,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2023-01-10,0.0,0.0,0.386,0.0,0.000,0.0,0.0,0.0,NaN,...,1.088,0.0,14.199,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1103,2023-01-11,0.0,0.0,0.579,0.0,0.006,0.0,0.0,0.0,NaN,...,1.925,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1104,2023-01-12,0.0,0.0,0.386,0.0,0.000,0.0,0.0,0.0,NaN,...,2.009,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1105,2023-01-13,0.0,0.0,0.483,0.0,0.000,0.0,0.0,0.0,NaN,...,2.218,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0
1106,2023-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
avg_deaths_per_million = avg_deaths_df.groupby(pd.Grouper(key='date', freq='M')).mean()

In [147]:
unique_lpd_val = cases_df[["location", "population", "population_million","population_density"]]
unique_lpd =  unique_lpd_val.drop_duplicates().reset_index()
#unique_lpd[unique_lpd["population_density"].isna()]

In [148]:
#compiling df for all asian countries
combined_df = df[["date", "location", "new_cases"]]

combined_df.pivot(index="date", columns="location", values="new_cases").reset_index()

location,date,Afghanistan,Armenia,Azerbaijan,Bahrain,Bangladesh,Bhutan,Brunei,Cambodia,China,...,Taiwan,Tajikistan,Thailand,Timor,Turkey,Turkmenistan,United Arab Emirates,Uzbekistan,Vietnam,Yemen
0,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,2023-01-10,25.0,0.0,69.0,49.0,21.0,0.0,0.0,3.0,265.0,...,25049.0,0.0,29164.0,0.0,0.0,NaN,80.0,27.0,77.0,0.0
1103,2023-01-11,34.0,0.0,62.0,55.0,22.0,0.0,2447.0,4.0,NaN,...,25631.0,0.0,NaN,1.0,0.0,NaN,0.0,36.0,35.0,0.0
1104,2023-01-12,0.0,0.0,80.0,65.0,4.0,0.0,NaN,9.0,NaN,...,22919.0,0.0,NaN,1.0,0.0,NaN,147.0,35.0,88.0,0.0
1105,2023-01-13,0.0,0.0,93.0,40.0,0.0,0.0,NaN,8.0,NaN,...,21707.0,0.0,NaN,0.0,0.0,NaN,95.0,0.0,55.0,0.0
1106,2023-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
avg_deaths_per_million.to_csv(r'D:\Genova\Classes\Semester 3\Final_Poject\DV\data\avg_deathspm_line_data.csv',index=True,header=True)

In [155]:
avg_cases_per_million.to_csv(r'D:\Genova\Classes\Semester 3\Final_Poject\DV\data\avg_casespm_line_data.csv',index=True,header=True)