In [107]:
# !pip install geopandas

In [108]:
# !pip install matplotlib

In [109]:
# %pip install pygeos

In [110]:
# %pip install rtree

In [2]:
# All the import Libraries
import pandas as pd
import geopandas as gp
from matplotlib.patches import Polygon
import matplotlib.pyplot as plt

In [3]:
# read files
data = gp.read_file("../data/geo_data_trees.geojson")
polydata = gp.read_file("../data/circoscrizioni.json")

In [3]:
data

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [4]:
data.columns

Index(['Tree ID', 'Name', 'DBH (cm)', 'Replacement Value (eur)',
       'Carbon Storage (kg)', 'Carbon Storage (eur)',
       'Gross Carbon Sequestration (kg/yr)',
       'Gross Carbon Sequestration (eur/yr)', 'Avoided Runoff (mcube/yr)',
       'Avoided Runoff (eur/yr)', 'Carbon Avoided (kg/yr)',
       'Carbon Avoided (eur/yr)', 'Pollution Removal (g/yr)',
       'Pollution Removal (eur/yr)', 'Energy Savings (eur/yr)',
       'Total Annual Benefits (eur/yr)', 'Oxygen Production (kg/yr)',
       'Height (m)', 'Crown Height (m)', 'Crown Width (m)',
       'Canopy Cover (m2)', 'Leaf Area (m2)', 'Leaf Biomass (kg)', 'Latitude',
       'Longitude', 'geometry'],
      dtype='object')

In [12]:
#These column shows that there is some values missing in one row
# Tree ID, DBH (cm), Height (m), Crown Height (m), 
# Crown Width (m), Latitude, Longitude, 
# geometry

In [5]:
data.tail()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [6]:
# deleting the last row
data = data.drop(data.index[-1])

In [7]:
# the last row is the total row for all the data so should be avoided 
# when including in the data values.
data.tail()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
12507,17663.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.15,...,28.4,2.5,0.8,5.3,21.7,43.6,3.3,46.055912,11.129441,POINT (11.12944 46.05591)
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)

In [11]:
# 12513 rows × 26 columns
# Basic information about all the columns of the data
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 12513 entries, 0 to 12512
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Tree ID                              12512 non-null  float64
 1   Name                                 12513 non-null  object
 2   DBH (cm)                             12512 non-null  object
 3   Replacement Value (eur)              12513 non-null  object
 4   Carbon Storage (kg)                  12513 non-null  object
 5   Carbon Storage (eur)                 12513 non-null  object
 6   Gross Carbon Sequestration (kg/yr)   12513 non-null  object
 7   Gross Carbon Sequestration (eur/yr)  12513 non-null  object
 8   Avoided Runoff (mcube/yr)            12513 non-null  object
 9   Avoided Runoff (eur/yr)              12513 non-null  object
 10  Carbon Avoided (kg/yr)               0 non-null      object
 11  Carbon Avoided (eur/yr)              0 non-null      object
 12  Pollution Removal (g/yr)             12513 non-null  object
 13  Pollution Removal (eur/yr)           12513 non-null  object
 14  Energy Savings (eur/yr)              0 non-null      object
 15  Total Annual Benefits (eur/yr)       12513 non-null  object
 16  Oxygen Production (kg/yr)            12513 non-null  object
 17  Height (m)                           12512 non-null  object
 18  Crown Height (m)                     12512 non-null  object
 19  Crown Width (m)                      12512 non-null  object
 20  Canopy Cover (m2)                    12513 non-null  object
 21  Leaf Area (m2)                       12513 non-null  object
 22  Leaf Biomass (kg)                    12513 non-null  object
 23  Latitude                             12512 non-null  float64
 24  Longitude                            12512 non-null  float64
 25  geometry                             12512 non-null  geometry
dtypes: float64(3), geometry(1), object(22)
memory usage: 2.5+ MB

In [21]:
data["count"]=1

In [29]:
top_tree_type = data[['Name', 'count']][:-1]
top_tree_type

                         Name  count
0         Acer pseudoplatanus      1
1         Acer pseudoplatanus      1
2         Acer pseudoplatanus      1
3         Acer pseudoplatanus      1
4                   Cupressus      1
...                       ...    ...
12506            Philadelphus      1
12507            Philadelphus      1
12508            Philadelphus      1
12509  Forsythia x intermedia      1
12510         Aucuba japonica      1

[12511 rows x 2 columns]

In [36]:
top_tree = top_tree_type.groupby("Name").count().reset_index()
# top_tree_type.sort_values(by="count", ascending=False)[:6]
top_tree = top_tree.sort_values(by='count', ascending=False) 
Top_six_Trees = list(top_tree[:6].Name)
Top_six_Trees

['Celtis australis',
 'Aesculus hippocastanum',
 'Carpinus betulus',
 'Tilia cordata',
 'Platanus x hispanica',
 'Tilia x europaea']

In [37]:
# For Getting the values of Top 6 Tree types
df = data[["Name", "DBH (cm)","Height (m)","Crown Height (m)","Crown Width (m)", "Canopy Cover (m2)","Gross Carbon Sequestration (kg/yr)", "Gross Carbon Sequestration (eur/yr)" ]]

In [38]:
df

,Name,DBH (cm),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr)
0,Acer pseudoplatanus,8,3.5,1,1.5,1.8,1.1,0.17
1,Acer pseudoplatanus,8,5,1.5,1.5,1.8,1.1,0.18
2,Acer pseudoplatanus,9,4.5,1.3,1.5,1.8,1.3,0.2
3,Acer pseudoplatanus,11,5,1.5,2.5,4.9,1.6,0.26
4,Cupressus,25,8,2.4,1.5,1.8,11.1,1.78
...,...,...,...,...,...,...,...,...
12507,Philadelphus,28.2,2.5,0.8,5.3,21.7,10.7,1.71
12508,Philadelphus,28.2,2.5,0.8,5.3,21.7,10.7,1.71
12509,Forsythia x intermedia,28.2,8,2.4,5.3,21.7,10.5,1.68
12510,Aucuba japonica,28.2,8,2.4,5.3,21.7,6.3,1.01
12511,Osmanthus fragrans,28.2,2.5,0.8,5.3,21.7,4.3,0.6899999999999999

In [41]:
# return values filtered based on Top 6 tree types fron the dataframe
data_for_top_six = df[df["Name"].isin(Top_six_Trees)]

In [45]:
data_for_top_six.to_csv (r'E:\Documents\GitHub\Data-Visualization\data\scatter_plot_data.csv', index = False, header=True)

In [18]:
# To display complete values of the coulmns 
# with pd.option_context('display.max_colwidth', None, 'display.max_rows', None): display(polydata)